@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Oswald:400,300|Roboto+Condensed:400,300|Open+Sans:400,300);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  border: 1px solid #7a0e13;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #d4484e;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #b11f25;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b11f25), color-stop(100%, #881015));
  background-image: -webkit-linear-gradient(#b11f25, #881015);
  background-image: linear-gradient(#b11f25, #881015);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #6c090d;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #bf2b31;
    cursor: pointer;
    background-color: #981f24;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #981f24), color-stop(100%, #7a0f13));
    background-image: -webkit-linear-gradient(#981f24, #7a0f13);
    background-image: linear-gradient(#981f24, #7a0f13); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled) {
    border: 1px solid #7a0e13;
    box-shadow: inset 0 0 8px 4px #6b0e12, inset 0 0 8px 4px #6b0e12, 0 1px 1px 0 #eeeeee; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #b11f25;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #701417; }
  a:active, a:focus {
    color: #701417;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #b11f25;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(155, 27, 32, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  background: url(../img/background.png); }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 86px;
  background: #fff; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

h1, h2, h3 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 5px; }

.pad {
  padding: 3px 8px;
  background: #efefef;
  margin: 0; }

hr {
  margin: 0;
  background: #aaa;
  border-color: #aaa; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.25em; }

header {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 10px 2px;
  border-bottom: 1px solid #bbb;
  background: #192E42; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    header .logo a {
      width: 158px;
      height: 62px;
      background: url(../img/logo_white.png);
      background-size: 100%;
      display: block;
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      overflow: hidden;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    header .logo a:hover {
      opacity: 0.5; }
    header .logo:last-child {
      margin-right: 0; }
  header .options {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    text-align: right; }
    header .options:last-child {
      margin-right: 0; }
  header .options a {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e3e3e3));
    background-image: -webkit-linear-gradient(white, #e3e3e3);
    background-image: linear-gradient(white, #e3e3e3);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    background-clip: padding-box;
    font-size: 0.875em;
    padding-top: 7px;
    margin-top: 12px; }
    header .options a:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 white;
      cursor: pointer;
      background-color: #f2f2f2;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #dbdbdb));
      background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
      background-image: linear-gradient(#f2f2f2, #dbdbdb); }
    header .options a:active:not(:disabled) {
      border: 1px solid #dbdbdb;
      box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4, 0 1px 1px 0 #eeeeee; }
    header .options a:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

.items a {
  overflow: hidden;
  display: block;
  color: #222;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s; }

.item {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  transition: background 0.1s;
  background: rgba(255, 255, 255, 0.84);
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #aaa; }
  .item:before, .item:after {
    content: " ";
    display: table; }
  .item:after {
    clear: both; }
  .item .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .item .logo:last-child {
      margin-right: 0; }
  .item .info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    padding-left: 12px;
    padding-top: 10px; }
    .item .info:last-child {
      margin-right: 0; }
    .item .info p {
      font-size: 0.875em;
      margin: 0; }
    .item .info h2 {
      margin-top: 4px;
      font-size: 1.375em; }
    .item .info .quantity, .item .info .yn {
      float: right;
      background: #192E42;
      border-radius: 5px;
      padding: 0 5px 0 6px;
      display: block;
      min-width: 20px;
      color: #fff;
      font-size: 0.625em; }

.flash-green .item.dragend-page {
  background: #98C87D !important; }

.flash-red .item.dragend-page {
  background: #CC545A !important; }

fieldset {
  border-left: none;
  border-right: none;
  margin-left: 0;
  margin-right: 0; }

.content {
  background: #efefef; }

.menu-anchor {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e3e3e3));
  background-image: -webkit-linear-gradient(white, #e3e3e3);
  background-image: linear-gradient(white, #e3e3e3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  background-clip: padding-box;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 1.5em;
  position: relative; }
  .menu-anchor:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 white;
    cursor: pointer;
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #dbdbdb));
    background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
    background-image: linear-gradient(#f2f2f2, #dbdbdb); }
  .menu-anchor:active:not(:disabled) {
    border: 1px solid #dbdbdb;
    box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4, 0 1px 1px 0 #eeeeee; }
  .menu-anchor:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.sliding-menu-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  width: 220px;
  height: 100%;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #eeeeee;
  z-index: 999999;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #bbb; }
  .sliding-menu-content li a {
    border-bottom: 1px solid #cccccc;
    color: #222222;
    display: block;
    font-weight: bold;
    padding: 1em;
    font-weight: 300; }
    .sliding-menu-content li a:hover {
      background-color: #dddddd;
      color: #222222; }
  .sliding-menu-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.menu-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #333333;
  opacity: 0;
  visibility: hidden;
  z-index: 999998; }
  .menu-screen.is-visible {
    opacity: .4;
    visibility: visible; }

a.button {
  border: 1px solid #050a0f;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #355573;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #192e42;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #192e42), color-stop(100%, #08121b));
  background-image: -webkit-linear-gradient(#192e42, #08121b);
  background-image: linear-gradient(#192e42, #08121b);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 black;
  background-clip: padding-box;
  width: 96%;
  margin: 2%;
  padding: 7px !important;
  text-align: center; }
  a.button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #243b50;
    cursor: pointer;
    background-color: #13212e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #13212e), color-stop(100%, #050a0f));
    background-image: -webkit-linear-gradient(#13212e, #050a0f);
    background-image: linear-gradient(#13212e, #050a0f); }
  a.button:active:not(:disabled) {
    border: 1px solid #050a0f;
    box-shadow: inset 0 0 8px 4px #010203, inset 0 0 8px 4px #010203, 0 1px 1px 0 #eeeeee; }
  a.button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
